<h1>Create Project</h1>
<form id="projectForm" action="/createProject" autocomplete="off" method="post">
    <label for="projectName">Name</label>
    <br>
    <input type="text" name="projectName" id="projectName" placeholder="Name" required />
    <br>
    <label for="description">Description</label>
    <br>
    <textarea rows="4" name="description" id="description" placeholder="Description" required></textarea>
    <br>
    <label for="author">Author</label>
    <br>
    <input type="text" name="author" id="author" placeholder="Author" required />
    <br>
    <button type="submit" class="submitBtn">Submit</button>
</form>
