<h1>Issue Logs</h1>
<div id="issueList">
    <div class="issueItem">
        <h1>${issue.title}</h1>
        <div class="fixBtnDiv">
            <a href="#" class="fixBtn">Fix</a>
        </div>
    </div>
</div>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>